.mat-sort-header-container {
  align-items: center;
}

table {
  width: 100%;
  text-align: center;
}

a {
  text-decoration: none;
  color: orange;
}

a:hover {
  font-weight: bold;
}

th.mat-sort-header-sorted {
  color: black;
}

.colored-background {
  background-color: lightgray;
}